@font-face {
    font-family: Comic Sans MS;
    src: url(comic.ttf);
}

.header {
	background-color: #666666;
	font-family: Comic Sans	MS;
	padding-bottom: 10px;
	color: white;
}

a.header, a.header:hover{
	font-size: 350%;
	color: #FFE713;
	text-decoration: none;
	background-color:transparent;
}

a.logout, a.logout:hover{
	color: red;
	text-decoration: none;
}

#leaderboard {
	background-color: white;
	margin-left: 0px;
}

li.menu{
	height: 10%;
}

#homepic {
	position:fixed;
}

.nobullet{
	list-style-type: none;
}

#msgbox {
	background-color: #EAEAEA;
}

#tips_title{
	background-color: #9DC3E6;
	padding-top: 10px;
	padding-bottom: 0px;
}

#tips_content{
	background-color: #BDD7EE;
	padding-top: 10px;
	padding-bottom: 0px;
}

.tipssharing{
	float: right;
}
