@font-face {
    font-family: Comic Sans MS;
    src: url(comic.ttf);
}

#header {
	background-color: #666666;
	color: #FFE713;
	font-family: Comic Sans	MS;
	font-size:350%;
	padding-top: 18px;
	padding-bottom: 20px;
}

#leaderboard {
	background-color: white;
	margin-left: 0px;
}

a.header, a.header:hover{
	color: #FFE713;
	text-decoration: none;
}

li.menu{
	height: 10%;
}

#homepic {
	position:fixed;
}

.nobullet{
	list-style-type: none;
}

#content > td{
	vertical-align:top;
}

.leaderboardInner{
	position: relative; 
	background-color: orange;
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 40px;
}

