	<html>
	<head>
		<title> $AVER - user</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table class="content">
				<tr><td class="span2">
					<ul class="nav nav-tabs nav-stacked">
					<li><a href "/manage">Manage</a></li>
					<li><a href "/overview">Overview</a></li>
					<li><a href "/leaderboard">Leaderboard</a></li>
					<li><a href "/about">About</a></li>
					</ul>
				</td>
				<td>
				<table class="span8">
					<tr>
						<td>
							<div class="well">
								<center>
								<h1>About</h1>
								</center>
								</br>
								<p align="center">$AVER is a web application which allows you to track your personal finance.</p>
								<p align="center">$AVER is also a platform where you can share your saving tips with others.<</p>
								<p align="center">You can compete with yours friends to be the best saver!</p>
								</br>
								</br>
								</br>
								<p align="right">A Project of NUS Orbital Programme</p>
								<p align="right">Developers : Cheong Yuan Xiang & Chua Chin Siang</p>
							</div>
						</td>
					</tr>	
				</table>
			</table>
			</div>
		</center>
	</body>
	</html>