<html>
	<head>
		<title> $AVER - Summary</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css"><script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawChart);
			function drawChart() {
				var data = google.visualization.arrayToDataTable([
				['Expenditure', '$'],
				['Food', parseFloat(document.getElementById("total_food_expenses").value)],
				['Entertainment', parseFloat(document.getElementById("total_entertainment_expenses").value)],
				['Accommodation', parseFloat(document.getElementById("total_accommodation_expenses").value)],
				['Transport', parseFloat(document.getElementById("total_transport_expenses").value)],
				['Others', parseFloat(document.getElementById("total_others_expenses").value)],
				['Savings', parseFloat(document.getElementById("total_savings").value)],
				]);

				var options = {
					title: 'Expenditure Chart({{month}})'
				};

				var chart = new google.visualization.PieChart(document.getElementById('piechart'));
				chart.draw(data, options);
			}
		</script>
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li class="active"><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div id="piechart" style="width: 700px; height: 500px;"></div>
					</td>
				</tr>
			</table>
			</div>
		</center>
		<input type="hidden" id="total_food_expenses" value="{{total_food_expenses}}">
		<input type="hidden" id="total_entertainment_expenses" value="{{total_entertainment_expenses}}">
		<input type="hidden" id="total_accommodation_expenses" value="{{total_accommodation_expenses}}">
		<input type="hidden" id="total_transport_expenses" value="{{total_transport_expenses}}">
		<input type="hidden" id="total_others_expenses" value="{{total_others_expenses}}">
		<input type="hidden" id="total_savings" value="{{total_savings}}">
	</body>
</html>