<html>
	<head>
		<title> $AVER - Manage</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li class="active"><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/tipssharing">Tips Sharing</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div class="well span8">
							<center>
							<h1>Manage</h1>
							<ul class="nav nav-tabs nav-stacked">
							<li><a href="/transaction">Add New Transaction</a></li>
							<li><a href="/monthlybudget">Set Budget</a></li>
							</ul>
							</center>
						</div>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>