	<html>
	<head>
		<title> $AVER - user</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well" id="header">
			<a class="header" href = "/user">$AVER</a>
			</div>
			<div>
			<!--<span>{{user_mail}}<a href="{{logout}}">logout</a></span>-->
			</div>
			<div class="container">
			<table class="content">
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<table class="span8">
							<tr>
								<td>
									<div class="well">
										<center>
										<h1>Manage</h1>
										<ul class="nav nav-tabs nav-stacked">
										<li><a href="/transaction">Add New Transaction</a></li>
										<li><a href="/budget">Set Budget</a></li>
										</ul>
										</center>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
	</html>