<html>
	<head>
		<title> $AVER - Overview</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well" id="header">
			<a class="header" href = "/user">$AVER</a>
			</div>
			<div>
			<!--<span>{{user_mail}}<a href="{{logout}}">logout</a></span>-->
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li class="active"><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div class="well span8">
							<center>
							<h1>Overview</h1>
							<ul class="nav nav-tabs nav-stacked">
							<li><a href="/summary">Summary</a></li>
							<li><a href="/history">Transaction History</a></li>
							<li><a href="/chart">Chart View</a></li>
							</ul>
							</center>
							<p align="right">Have good saving tips?</p>
							<p align="right"><span style="border: 2px solid orange">Share with us now!</span></p>		
						</div>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>