<html>
	<head>
		<title> $AVER - Overview</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li class="active"><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/tipssharing">Tips Sharing</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div class="well span8">
							<center>
							<h1>Overview</h1>
							<ul class="nav nav-tabs nav-stacked">
							<li><a href="/summary">{{current_month}} Summary</a></li>
							<li><a href="/history">Transaction History</a></li>
							<li><a href="/chart">Chart View</a></li>
							</ul>
							</br>
							<ul class="nav nav-tabs nav-stacked">
							<li><a href="/pastsummary?month=1">{{last_month}} Summary</a></li>
							<li><a href="/pastsummary?month=2">{{two_month_before}} Summary</a></li>
							<li><a href="/pastsummary?month=3">{{three_month_before}} Summary</a></li>
							</ul>
							</center>
							<p align="right">Have good saving tips?</p>
							<p align="right"><a href="/tipssharingform" class="btn btn-primary">Share with us now!</a></p>	
						
						</div>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>