<html>
	<head>
		<title> $AVER - Summary</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li class="active"><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div class="well span8">
						<p><u>Summary({{month}})</u></p>
						<p>Total Income($): {{total_income}}</p>
						<p>Total Savings($): {{total_savings}}</p>
						</br>
						<table class="table table-bordered">
							<tr>
								<th></th>
								<th>Expenses($)</th>
								<th>Budget($)</th>
							</tr>
							<tr>
								<th>Total</th>
								<td>{{total_expenses}}</td>
								<td>{{total_budget}}</td>
							</tr>
							<tr>
								<th>Food</th>
								<td>{{total_food_expenses}}</td>
								<td>{{total_food_budget}}</td>
							</tr>
							<tr>
								<th>Entertainment</th>
								<td>{{total_entertainment_expenses}}</td>
								<td>{{total_entertainment_budget}}</td>
							</tr>
							<tr>
								<th>Accommodation</th>
								<td>{{total_accommodation_expenses}}</td>
								<td>{{total_accommodation_budget}}</td>
							</tr>
							<tr>
								<th>Transport</th>
								<td>{{total_transport_expenses}}</td>
								<td>{{total_transport_budget}}</td>
							</tr>
							<tr>
								<th>Others</th>
								<td>{{total_others_expenses}}</td>
								<td>{{total_others_budget}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>