<html>
	<head>
		<title> $AVER - Summary</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<table class="span8">
							<tr>
								<td>
									<div class="well">
									<p><u>Summary</u></p>
									<p>Total Income:</p>
									<p>Total Savings:</p>
									<p>Total Budget:</p>
									</br>
									<p><u>Latest Transaction</u></p>
									</br>
									<table class="table table-bordered">
										<tr>
											<th></th>
											<th>Expenses</th>
											<th>Budget</th>
										</tr>
										<tr>
											<th>Total</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th>Food</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th>Entertainment</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th>Accommodation</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th>Transport</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th>Savings</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th>Others</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th>Income</th>
											<td></td>
											<td></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>