	<html>
	<head>
		<title> $AVER - user</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table class="content">
				<tr><td class="span2">
					<ul class="nav nav-tabs nav-stacked">
					<li><a href "/manage">Manage</a></li>
					<li><a href "/overview">Overview</a></li>
					<li><a href "/leaderboard">Leaderboard</a></li>
					<li><a href "/about">About</a></li>
					</ul>
				</td>
				<td>
				<table class="span8">
					<tr>
						<td>
							<div class="well">
								<center>
								<h1>Saving Tips Sharing</h1>
								</center>
								</br>
								</br>
								<div>
									<center>
									<p>Your submission is successful.</p>
									<p>You may view your post now.</p>
									</center>
								</div>
								</br>
								</br>
								<div class="tipssharing">
									<button class="btn btn-primary">Click Here!</button>	
								</div>
							</div>
						</td>
					</tr>	
				</table>
			</table>
			</div>
		</center>
	</body>
	</html>