<html>
	<head>
		<title> $AVER - user</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
		<script type="text/javascript">
		<!--	
			function getConfirmation(){
				var confirmation = confirm("Is this your final choice?");
				if(confirmation == true){
					alert("Noted! :)");
					return true;
				}
				else{
					alert("Think wisely :)");
					return false;
				}
			}
		//-->
		</script>
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table class="content">
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li class="active"><a href="/tipssharing">Tips Sharing</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
				<td>
				<div class="well span8">
					<center>
					<h1>Saving Tips Sharing</h1>
					</center>
					</br>
					</br>
					<div>
						<div class="well span7" id="tips_title">
							<p><b>{{tips.title}}</b></p>
						</div>							
						<div align="right">
							<span>Posted by {{tips.user}}</span>
						</div>	
					</div>
					</br>
					<div class="well span7" id="tips_content">
						<p>{{tips.content}}</p>
					</div>
					</br>
					</br>
					<center>
						<div align="left">
							<p>How you think about it?</p>
							<p>Rate now!</p>
							<form action="/ratingsuccessful" method="post">
								<input type="button" value="Bad" onclick="getConfirmation();"></input>
								<input type="button" value="Average" onclick="getConfirmation();"></input>
								<input type="button" value="Good" onclick="getConfirmation();"></input>
								<input type="button" value="Excellent" onclick="getConfirmation();"></input>
							</form>
						</div>
						<div align="right">
							<form method="get" action="/tipssharing">
								<input type="hidden" name="current_index" value="{{current_index}}">
								<button type="submit" class="btn btn-primary">Back</button>
							</form>
						</div>
					</center>
				</div>
			</table>
			</div>
		</center>
	</body>
</html>