	<html>
	<head>
		<title> $AVER - user</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table class="content">
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
				<td>
				<div class="well span8">
					<center>
					<h1>Saving Tips Sharing</h1>
					</center>
					</br>
					</br>
					<div>
						<div>
							<span>#Title#</span>
						</div>
						<div align="right">
							<span>Posted by <img src=#> on</span>
						</div>								
					</div>
					</br>
					</br>
					<div>
						<p>#Content#</p>
					</div>
					</br>
					</br>
					<div>
						<a href="/sharingpost" class="btn btn-primary btn-block">Back</a>	
					</div>
				</div>
			</table>
			</div>
		</center>
	</body>
	</html>