	<html>
	<head>
		<title> $AVER - user</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table class="content">
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li class="active"><a href="/tipssharing">Tips Sharing</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
				<td>
					<div class="well span8">
						<center>
						<h1>Saving Tips Sharing</h1>
						</center>
						</br>
						</br>
						<table class="table table-stripped">
							<tr>
								<th>Title</th>
								<th>Author</th>
							</tr>
							{% for tip in tips %}
							<tr>
								<td>
									<form action="/sharingpost" method="post">
										<input type="hidden" name="entity_id" value="{{tip.ID}}">
										<input type="hidden" name="current_index" value="{{current_index}}">
										<button class="btn btn-block btn-info" type="submit">{{tip.title}}</button>
									</form>
								</td>
								<td>{{tip.user.nickname()}}</td>
							</tr>
							{% endfor %}
						</table>
						<center>
							<form action="/tipssharing" method="get">
								<input type="hidden" name="current_index" value="{{current_index}}">
								{% if current_index - 5 >= 0 %}
								<button type="submit" name="navigation" class="btn btn-info" value="left">
									<i class="glyphicon glyphicon-chevron-left"></i>
								</button>
								{% endif %}
								{% if tips_size > current_index + 5 %}
								<button type="submit" name="navigation" class="btn btn-info" value="right">
									<i class="glyphicon glyphicon-chevron-right"></i>
								</button>
								{% endif %}
							</form>
							</br>
							<p align="middle"><a href="/tipssharingform" class="btn btn-primary">Write your own post here</a></p>
						</center>
					</div>
				</td>
			</table>
			</div>
		</center>
	</body>
	</html>