	<html>
	<head>
		<title> $AVER - user</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<script src="http://code.jquery.com/jquery-1.5.js"></script>
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table class="content">
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
				<td>
					<div class="well span8">
						<center>
						<h1>Saving Tips Sharing</h1>
						</center>
						</br>
						</br>
						<form action="/sharingformsuccessful" class="form-inline" method="post">
							<label>Title:</label>
							<input type="text" name="Title" class="span8" placeholder="Type your title here" required>
							</br>
							</br>
							<textarea name="Content" id="textarea" class="form-control span8" placeholder="Type your content here (text limit: 500 characters)" maxlength="500" required></textarea>
							<div id="textarea_feedback"></div>
							</br>
							</br>
							<input type="submit" name="tips" value="Submit" class="btn btn-primary btn-block">
						</form>
					</div>
				</td>
			</table>
			</div>
			<script>
			$(document).ready(function() {
				var text_max = 500;
				$('#textarea_feedback').html(text_max + ' characters remaining');

				$('#textarea').keyup(function() {
					var text_length = $('#textarea').val().length;
					var text_remaining = text_max - text_length;

					$('#textarea_feedback').html(text_remaining + ' characters remaining');
				});
			});
			</script>
		</center>
	</body>
	</html>