<html>
	<head>
		<title> $AVER - New Transaction</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well" id="header">
			<a class="header" href = "/user">$AVER</a>
			</div>
			<div>
			<!--<span>{{user_mail}}<a href="{{logout}}">logout</a></span>-->
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li class="active"><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<form class="well span8">
							<label>Description:</label>
							<input type="text" name="description" class="span7">
							</br>
							<label>Tag:</label>
							<div class="radio">
								<label class="span2"><input type="radio" name="tag" value="food">Food</label>
								<label class="span2"><input type="radio" name="tag" value="entertainment">Entertainment</label>
								<label class="span2"><input type="radio" name="tag" value="accommodation">Accommodation</label>
								<label class="span2"><input type="radio" name="tag" value="transport">Transport</label>
								<label class="span2"><input type="radio" name="tag" value="savings">Savings</label>
								<label class="span2"><input type="radio" name="tag" value="income">Income</label>
								<label class="span2"><input type="radio" name="tag" value="others">Others</label>
							</div>
							</br>
							</br>
							</br>
							<label>Amount:</label>
							<input type="text" name="amount" class="span3" value="$">
							<label>Date:</label>
							<input type="date" name="inputdate">
							</br>
							</br>
							<a href="/transuccessful" class="btn btn-primary btn-block">Add Item</a>
						</form>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>