<!DOCTYPE HTML>
<html>
	<head>
		<title> $AVER - New Transaction</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
		<script src="../bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li class="active"><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<form class="well span8" action="/transuccessful" method="post">
							<label>Description:</label>
							<input type="text" name="description" class="span7" required>
							</br>
							<label>Tag:</label>
							<div class="radio">
								<label class="span2"><input type="radio" name="tag" value="food" checked>Food</label>
								<label class="span2"><input type="radio" name="tag" value="entertainment">Entertainment</label>
								<label class="span2"><input type="radio" name="tag" value="accommodation">Accommodation</label>
								<label class="span2"><input type="radio" name="tag" value="transport">Transport</label>
								<label class="span2"><input type="radio" name="tag" value="savings">Savings</label>
								<label class="span2"><input type="radio" name="tag" value="income">Income</label>
								<label class="span2"><input type="radio" name="tag" value="others">Others</label>
							</div>
							</br>
							</br>
							</br>
							<label>Amount:</label>
							<input type="number" min="0.01" step="0.01" name="amount" class="span3" placeholder="$" required>
							<label>Date:</label>
							<input type="date" name="date" id="today" required>
							</br>
							</br>
							<input type="submit" value="Add Item" class="btn btn-primary btn-block">
						</form>
					</td>
				</tr>
			</table>
			</div>
		</center>
		<script>
			$(document).ready(function() {
				var date = new Date();

				var day = date.getDate();
				var month = date.getMonth() + 1;
				var year = date.getFullYear();
	
				if (month < 10) month = "0" + month;
				if (day < 10) day = "0" + day;
			
				var today = year + "-" + month + "-" + day;       
				$("#today").attr("value", today);
			});
		</script>
	</body>
</html>