<html>
	<head>
		<title> $AVER - Summary</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well" id="header">
			<a class="header" href = "/user">$AVER</a>
			</div>
			<div>
			<!--<span>{{user_mail}}<a href="{{logout}}">logout</a></span>-->
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div class="well span8">
							<p><u>Transaction History</u></p>
							</br>
							<table class="table table-bordered">
								<tr>
									<th>Date</th>
									<th>Description</th>
									<th>Tag</th>
									<th>Amount</th>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>