<html>
	<head>
		<title> $AVER - Transaction Successful</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<center>
			<div class="well" id="header">
			<a class="header" href = "/user">$AVER</a>
			</div>
			<div>
			<!--<span>{{user_mail}}<a href="{{logout}}">logout</a></span>-->
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li class="active"><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<center>
						<div class="well span8">
							<h2>Transaction Added Sucessfully!</h2>	
							<div class="well span7" id="msgbox">
								<p>is added</p>
							</div>
						</div>
						<center>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>