<!DOCTYPE HTML>
<html>
	<head>
		<title> $AVER - Summary</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li class="active"><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div class="well span8">
							<p><u><b>Transaction History</b></u></p>
							</br>
							<p>Latest Transaction</p>
							<table class="table table-bordered">
								<tr>
									<th>Date/Time</th>
									<th>Description</th>
									<th>Tag</th>
									<th>Amount</th>
								</tr>
								{% for transaction in transactions %}
								<tr>
									<input type="hidden" name="entity_id" value="{{transaction.ID}}">
									<input type="hidden" name="current_index" value="{{current_index}}">
									<td>{{transaction.date}} {{transaction.time}}</td>
									<td>{{transaction.description}}</td>
									<td>{{transaction.tag}}</td>
									<td>{{transaction.amount}}</td>										
								</tr>
								{% endfor %}
							</table>
							<center>
								<form action="/history" method="get">
									<input type="hidden" name="current_index" value="{{current_index}}">
									{% if current_index - 5 >= 0 %}
									<button type="submit" name="navigation" class="btn btn-info" value="left">
										<i class="glyphicon glyphicon-chevron-left"></i>
									</button>
									{% endif %}
									{% if transactions_size > current_index + 5 %}
									<button type="submit" name="navigation" class="btn btn-info" value="right">
										<i class="glyphicon glyphicon-chevron-right"></i>
									</button>
									{% endif %}									
								</form>
							</center>
						</div>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>