<!DOCTYPE HTML>
<html>
	<head>
		<title> $AVER - User</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/about">About</a></li>
						</ul>
						<ul class="well nobullet" id="leaderboard">
							<li><u>Leaderboard</u></li>
							<li>1.</li>
							<li>2.</li>
							<li>3.</li>
						</ul>
					</td>
					<td>
						<div class="well span8">
							<p><u>Overview({{month}})</u></p>
							</br>
							<p>Total Expenses($): {{total_expenses}}</p>
							<p>Monthly Budget Available($): {{monthly_budget_available}}</p>
							<p>Monthly Budget Available($): {{yearly_budget_available}}</p>
							</br>
							<p><u>Last Added Transaction</u></p>
							</br>
							<table class="table table-bordered">
								<tr>
									<th>Date</th>
									<th>Description</th>
									<th>Tag</th>
									<th>Amount</th>
									<th></th>
								</tr>
								{% if transaction %}
								<tr>
									<td>{{transaction.date}}</td>
									<td>{{transaction.description}}</td>
									<td>{{transaction.tag}}</td>
									<td>{{transaction.amount}}</td>
									<td>
										<form action="/deletetransaction" method="post">
											<input type="hidden" name="entity_id" value="{{transaction.ID}}">
											<input type="hidden" name="address" value="/user">
											<button type="submit" class="btn btn-danger">
												<i class="glyphicon glyphicon-trash"></i>
											</button>
										</form>
									</td>
								</tr>
								{% endif %}
							</table>
						</div>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>