<html>
<head>
	<title> $AVER - user</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
	<div align="center">
		<a href = "/user"><img src="../images/header.png"></a>
		</br>
		</br>
		<span>{{user_mail}}<a href="{{logout}}">logout</a></span>
		<table>
		<tr>
		<td>
			<table  class = "menu">
			<tr><td>Manage</td></tr>
			<tr><td>Overview</td></tr>
			<tr><td>Leaderboard</td></tr>
			<tr><td>About</td></tr>
			</table>
		</td>
		<td>
			<table class = "content">
			<tr><td><u>Overview</u></td></tr>
			</table>
		</td>
		</tr>
		</table>
	</div>
</body>
</html>