<!DOCTYPE HTML>
<html>
	<head>
		<title> $AVER - Yearly Budget</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/logo.ico">
	</head>
	<body>
		<center>
			<div class="well header">
				<a class="header" href = "/user">$AVER</a>
				&emsp;
				&emsp;
				{{user_mail}}<a class="logout" href="{{logout}}"> logout</a>
			</div>
			<div class="container">
			<table>
				<tr>
					<td class="span2">
						<ul class="nav nav-tabs nav-stacked">
						<li class="active"><a href="/manage">Manage</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/leaderboard">Leaderboard</a></li>
						<li><a href="/tipssharing">Tips Sharing</a></li>
						<li><a href="/about">About</a></li>
						</ul>
					</td>
					<td>
						<div class="well span8">
							<ul class="nav nav-pills">
							<li><a href="/monthlybudget">Monthly</a></i>
							<li class="active"><a href="/yearlybudget">Yearly</a></i>
							</ul>
						<form action="/budgetsuccessful" class="form-inline" method="post" align="right">	
							<label>Food:</label>
							<input type="number" min="0.00" step="0.01" name="food" class="span6" placeholder="$" value="{{food}}" required>
							</br>
							<label>Entertainment:</label>
							<input type="number" min="0.00" step="0.01" name="entertainment" class="span6" placeholder="$" value="{{entertainment}}" required>
							</br>
							<label>Accommodation:</label>
							<input type="number" min="0.00" step="0.01" name="accommodation" class="span6" placeholder="$" value="{{accommodation}}" required>
							</br>
							<label>Transport:</label>
							<input type="number" min="0.00" step="0.01" name="transport" class="span6" placeholder="$" value="{{transport}}" required>
							</br>
							<label>Others:</label>
							<input type="number" min="0.00" step="0.01" name="others" class="span6" placeholder="$" value="{{others}}" required>
							</br>
							</br>
							<input type="submit" name="setbudget" value="Set Yearly Budget" class="btn btn-primary btn-block">
						</form>
						</div>
					</td>
				</tr>
			</table>
			</div>
		</center>
	</body>
</html>